* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
}

a {
    text-decoration: none;
    color: aqua;
}
a:hover{
    color: orange;
}

/* .container {
    overflow-x: hidden;

} */

img {
    width: 280px;
    height: 300px;
    
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.card {
    height: fit-content;
    width: fit-content;
    font-size: 1.2rem;
    text-align: center;
    color: tomato;
    border: none;
    padding: 50px;
    background-color: transparent;


}

#one {
    background-color: transparent;
    padding: 10px;
    width: 60%;
    height: fit-content;
}

#one h4 {
    text-align: center;
    font-weight: bold;

}

#slogan {
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    color: #000;
}

.panel {
    color: aqua;
    border: rgb(86, 92, 92) solid 1px;
   
    background-color: transparent;
    font-size: 4rem;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;

}

#logo {
    width: 110px;
    height: 110px;
    border-radius: 50px;
}


li {
    list-style-type: none;
}

.container-fluid {
    background-color: transparent;
    /* border: aqua solid 2px;
    border-radius: 10px; */
}

.container-fluid ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 10px;
}

.fa {
    font-size: 80px;
    color: rgb(255, 166, 0);
    /* background-color:aqua ; */
    border-radius: 20px;
    padding: 5px;

}

footer {
    display: flex;
    background-color: gray;
    color: aqua;
    justify-content: space-around;
}
footer .fa{
    font-size: 20px;
    color: rgb(255, 166, 0);
}


video{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index:-100;
    object-fit: cover;
    overflow-x: hidden;
    opacity: 90%;
}
.upEvents{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

/* Media responsiveness */
@media screen and (max-width: 790px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        padding: 12px;
        font-size: 1.5rem;
        width: 100%;
        margin:  120px;
    }
    img{
        width:80% ;
        height: 500px;
        margin-left:60px;
    }
    footer{
        padding: 5px;
        display: inline;
        background-color: black;
        color: aqua;
        text-align: center;
        font-size: 2rem;
    }
    iframe{
        width: 80%;
        margin-left: 20px;
    }
}